@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900');

@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    @apply text-lgr font-black pb-4;
    line-height: 2.3rem;
    letter-spacing: 0.02em;
}

h2 {
    @apply text-lg font-normal pb-4;
}

h3 {
    @apply text-lg font-normal pb-4;
}

h5 {
    @apply text-baseMobile font-bold pb-4 text-blue;
}

p {
    @apply text-baseMobile font-normal;
}


/* Small (sm) */
@media (min-width: 640px) {
    h1 {
        @apply text-xxl;
        letter-spacing: 0.01em;
    }

    h2 {
        @apply text-xl;
        line-height: 3.5rem;
    }

    h5 {
        @apply text-lg font-black;
        letter-spacing: 0.01em;
    }

    p {
        @apply text-base;
    }
}

/* Medium (md) */
@media (min-width: 768px) {
    /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
    /* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* ... */
}


/*.btn-blue {*/
/*    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;*/
/*}*/


@tailwind utilities;


/*Animation*/
.section {
    /*height: 0;*/
    /*background: linear-gradient(160deg, #f47c66 0%, #e51906 100%);*/
}

.sticky {
    height: 100vh;
    background: transparent;
    width: 100%;
}

.sticky .animation {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sticky .animation svg {
    opacity: 1;
    position: absolute;
    width: 300px;
    height: 300px;
}

.sticky .heading {
    position: absolute;
    height: 100%;
    width: 100%;
}


/*Table*/
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    @apply text-blue
}

th:last-child,
td:last-child {
    @apply text-black
}

tbody tr:first-child {
    @apply text-blue bg-lightblue border-t border-b border-blue;
}

.rating0 {
    @apply bg-rating0
}

.rating1 {
    @apply bg-rating1
}

.rating2 {
    @apply bg-rating2
}

.rating3 {
    @apply bg-rating3
}

.rating4 {
    @apply bg-rating4
}

.rating5 {
    @apply bg-rating5
}

.rating6 {
    @apply bg-rating6
}

.rating7 {
    @apply bg-rating7
}

.rating8 {
    @apply bg-rating8
}

.rating9 {
    @apply bg-rating9
}

.rating10 {
    @apply bg-rating10
}

.card-input-element {
    display: none;
}

.card-input-element:checked + .radio-card {
    background-color: white;
    color: #114B5F;
}

.radio-card {
    @apply p-2 border-2 border-white rounded;
}

.checkbox-card {

}

.step-top {
    top: 20px
}

.question-nav {
    position: fixed;
    bottom: 10px;
}

.radio-card:hover {
    cursor: pointer;
    background-color: white;
    color: #114B5F;
}


@media (min-width: 768px) {
    .step-top {
        top: 15%
    }

    .radio-card {
        @apply p-4 border-4 border-white rounded;
    }

    .radio-card p {
        @apply font-bold;
        letter-spacing: 0.04rem;
    }

    .question-nav {
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        margin: 0 auto;
    }
}

#reversedRange {
    direction: rtl;
}


.scroll-container {
    width: 1500px;
}

@media (min-width: 768px) {
    .scroll-container {
        width: 1500px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .scroll-container {
        width: 2500px;
    }
}

.next-arrow {
    bottom: 2%;
    left: 50%;
}

@media (min-width: 768px) {
    .next-arrow {
        bottom: 5%;
    }
}